body {
  background-color: darkcyan;
  font-size: 125%;
}

div {
  padding: 10px;
}

#pokemon {
  background-color: powderblue;
  display: inline-block;
  padding: 20px 40px;
  margin: 20px 20px;
  border-radius: 15px;
}
